.nav-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform:uppercase;

}
.dropdown-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
    font-family:cursive;

}



/***category***/

.my_row_class{
    padding-top:15px;

}
.my_row_class  .mx_auto{
    color:black;
    font-size:12px;
}
.my_image{
    width:100%;
    height:auto;
}
.my_title{
    font-size:16px;
    text_transform:uppercase;
    letter-spacing:.2em;
}
.my_image_padding{
    padding:5px;
}

.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h3{
    font-size:14px;
    text_transform:uppercase;
    letter-spacing:.2em;
}

/***product***/
.my_prod{
    padding-top:15px;
    padding-bottom:20px;
}
.my_prod .mx_auto{
    color:black;
    font-size:12px;
    text_decoration:None;

}
.my_prod_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:20px;
}
.my_prod_text{
padding-right:20px;


}
/***search***/

my_search{
    padding-top:20px;
}

/***cart***/
.my_table{
    min-width:400px;
    font-size:14px;
}

.my_th{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;

}