<style>
.my_footer{
            position: fixed;
            padding-top:5px;
            bottom: 5px;
            width: 87.3%;
            /* Height of the footer*/
            height: 25px;
            background: black;
}

.my_footer p{
         padding-top:0px;
         font-size:10px;
         color:white;
         padding-bottom:35px;
}

</style>

<div class="container">
  <div class="my_footer">
    <p class="text-center">
     &copy; ABC Tech Private Lmt. All rights Reserved
   </p>
  </div>
</div>